{% extends "app/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h2>{{ title }}</h2>

{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% else %}

<p>Log in to add an image</p>
<p><a href="{% url 'login' %}" class="btn btn-primary btn-large">Log in</a></p>

{% endif %}

{% endblock %}

{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}