{% extends "app/layout.html" %}

{% block content %}

{% load static %}

{% if user.is_authenticated %}

<div class="row" id="real-estates-detail">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center" id="author">

                    <img src="{{ MEDIA_URL }} {{ profile.profile_pic.url }}" height=292.5 width=292.5>
                    <h3>{{ page_user }}</h3>
                    <a href="{{ profile.vk }}">{{ profile.vk }}</a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center" id="author">

                </div>
            </div>
        </div>
    </div>
</div>


{% else %}

<p><a href="{% url 'login' %}" class="btn btn-primary btn-large">Log in</a></p>

{% endif %}

{% endblock %}

{% block scripts %}

{% load static %}

<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}